<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Test.Listeners"></listener>
        <listener class-name="Test.ExtentReporterNG"/>
    </listeners>
    <test name="Homepage">
        <classes>
            <class name="Test.HomePage">
            </class>
        </classes>
    </test>
    <test name="Navigation Bar Visibility">
        <classes>
            <class name="Test.validateNavigationBar">
            </class>
        </classes>
    </test>
    <test name="Page Title">
        <classes>
            <class name="Test.validateTitle">
            </class>
        </classes>
    </test>
</suite>